<div class="container mx-auto flex flex-wrap">
  <h3 class="text-center text-2xl font-bold my-5 text-white w-full">聯繫我們</h3>
  <div class="w-full md:w-1/2" scrollAnimate="animate__fadeIn" [once]="true">
    <ng-lottie [options]="contactUsOptions" />
  </div>
  <div class="w-full md:w-1/2" scrollAnimate="animate__fadeIn" [once]="true">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <app-input
          labelClass="text-lg mt-2 text-center md:text-left"
          labelName="主旨"
          formControlName="subject"
          placeholder="請輸入主旨"
          class="w-full my-2" />
      </div>
      <div>
        <app-input
          labelClass="text-lg mt-2 text-center md:text-left"
          labelName="電子信箱"
          formControlName="email"
          placeholder="請輸入電子信箱"
          class="w-full my-2" />
      </div>
      <div>
        <app-text-area
          rows="3"
          labelClass="text-lg mt-2 text-center md:text-left"
          labelName="訊息"
          formControlName="message"
          class="w-full my-2"
          placeholder="請輸入訊息" />
      </div>
      <div class="flex justify-end">
        <button class="btn btn-primary w-28 mb-5">送出</button>
      </div>
    </form>
  </div>
</div>
