<label
  *ngIf="labelName"
  [for]="control?.name"
  [class]="labelClass"
  [ngClass]="{
      'text-green-700 dark:text-green-500': control?.touched && !control?.errors,
      'text-red-700 dark:text-red-500': control?.touched && control?.errors
    }"
  class="block"
  >{{ labelName }}</label
>
<input
  [type]="type"
  [id]="control?.name"
  [(ngModel)]="val"
  (ngModelChange)="change()"
  [class]="class"
  [ngClass]="{
    'input-error': control?.touched && control?.errors,
    'input-accent': control?.touched && !control?.errors
  }"
  [class.input-xs]="size === 'xs'"
  [class.input-sm]="size === 'sm'"
  [class.input-md]="size === 'md'"
  [class.input-lg]="size === 'lg'"
  [disabled]="disabled"
  [inputMode]="inputmode"
  class="input input-bordered"
  [placeholder]="placeholder" />
<ng-container *ngIf="control?.touched && control?.errors && showErrorMsg">
  <p *ngIf="control?.errors?.['required']" class="mt-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium">此欄位必填</span>
  </p>
  <p *ngIf="control?.errors?.['email']" class="mt-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium">請輸入正確格式的電子信箱</span>
  </p>
</ng-container>
