<ng-container *ngIf="!isError(); else error">
  <ng-container *ngIf="!isLoading(); else loading">
    <app-article-card
      *ngFor="let article of articles()"
      [title]="article.articleTitle"
      [date]="article.createDate"
      [category]="{
        categoryId: article.categoryId,
        categoryName: article.categoryName
      }"
      [labels]="article.labels"
      [previewContent]="article.previewContent"
      (category)="navigateCategory($event)"
      (label)="navigateLabel($event)"
      (showMore)="showMore(article.slug)" />
  </ng-container>
</ng-container>
<ng-template #loading>
  <app-loading-card />
  <app-loading-card />
  <app-loading-card />
</ng-template>
<ng-template #error>
  <div class="rounded-lg border border-base-content/10 bg-base-100 p-5">
    <app-error (refresh)="getArticles(page())" />
  </div>
</ng-template>
<app-pagination [total]="total()" [currentPage]="page()" (change)="paginationChange($event)" />
