<header
  #header
  class="hidden lg:flex py-3 justify-between items-center top-0 w-full absolute z-50 bg-opacity-90 bg-base-100">
  <div class="ml-14 flex items-center">
    <a routerLink="/blog" class="font-bold text-3xl logo"> RON </a>
  </div>
  <div class="mr-14">
    <ul class="flex justify-around list-none">
      <li
        *ngFor="let link of links"
        class="font-open-sans font-normal text-lg hover:ease-in-out duration-150 hover:text-primary-focus cursor-pointer mx-8">
        <a class="w-full" [routerLink]="link.value">{{ link.name }}</a>
      </li>
      <li
        *ngIf="!isLogin();else isLoginState"
        class="font-open-sans font-normal text-lg hover:ease-in-out duration-150 hover:text-primary-focus cursor-pointer mx-8">
        <a class="w-full" routerLink="/login">登入</a>
      </li>
      <ng-template #isLoginState>
        <li
          class="font-open-sans font-normal text-lg hover:ease-in-out duration-150 hover:text-primary-focus cursor-pointer mx-8">
          <a class="w-full" routerLink="/setting">後台管理</a>
        </li>
        <li
          class="font-open-sans font-normal text-lg hover:ease-in-out duration-150 hover:text-primary-focus cursor-pointer mx-8">
          <a class="w-full" (click)="sharedSrv.logout()">登出</a>
        </li>
      </ng-template>
    </ul>
  </div>
</header>

<header #mobile>
  <nav
    class="flex lg:hidden fixed flex-wrap top-0 left-0 right-0 z-50 py-2 bg-opacity-90 bg-base-200">
    <div class="flex justify-between w-full">
      <div class="ml-5 flex items-center">
        <a routerLink="/blog" class="font-bold text-3xl logo"> RON </a>
      </div>
      <div class="menu-icon" [class.open]="mobileToggle" (click)="mobileToggle = !mobileToggle">
        <div class="menu-icon_hamburger"></div>
      </div>
    </div>
    <div class="collapse w-full">
      <input type="checkbox" [hidden]="true" [(ngModel)]="mobileToggle" />
      <div class="collapse-content">
        <ul class="w-full overflow-hidden list-none">
          <li
            *ngFor="let link of links"
            class="flex justify-center border border-neutral-content p-2 text-xl cursor-pointer">
            <a
              [routerLink]="link.value"
              class="w-full text-center"
              (click)="mobileToggle = !mobileToggle"
              >{{ link.name }}</a
            >
          </li>
          <ng-container *ngIf="!isLogin()">
            <li
              class="flex justify-center border border-neutral-content p-2 text-xl cursor-pointer">
              <a
                routerLink="/login"
                class="w-full text-center"
                (click)="mobileToggle = !mobileToggle"
                >登入</a
              >
            </li>
          </ng-container>
          <ng-container *ngIf="isLogin()">
            <li
              class="flex justify-center border border-neutral-content p-2 text-xl cursor-pointer">
              <a
                class="w-full text-center"
                routerLink="/setting"
                (click)="mobileToggle = !mobileToggle"
                >後台管理</a
              >
            </li>
            <li
              class="flex justify-center border border-neutral-content p-2 text-xl cursor-pointer">
              <a class="w-full text-center" (click)="sharedSrv.logout()">登出</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
