<div class="container mx-auto my-5" id="skills">
  <h3 class="text-center text-2xl font-bold my-5 text-white">技能</h3>
  <div class="swiper relative" #el>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/html5.png"
              alt="html5"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Html5</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/css3.png"
              alt="css3"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Css3</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/javascript.png"
              alt="javascript"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Javascript</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/angular.png"
              alt="angular"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Angular</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/rxjs.png"
              alt="rxjs"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">RxJs</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/typescript.png"
              loading="lazy"
              alt="typescript" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Typescript</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/git.png"
              alt="git"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Git</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/CSharp.png"
              alt="CSharp"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">C#</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/mssql.png"
              alt="mssql"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">SQL Server</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/awsEc2.png"
              alt="awsEc2"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">AWS Ec2</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/redis.png"
              alt="redis"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Redis</h2>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card bg-slate-800 shadow-xl">
          <figure class="px-10 pt-10">
            <img
              class="object-cover w-32 h-32"
              src="assets/images/docker.png"
              alt="docker"
              loading="lazy" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Docker</h2>
          </div>
        </div>
      </div>
    </div>
    <ng-icon
      *ngIf="swiper()?.activeIndex !== 0"
      class="left-0 top-1/2 absolute z-10 hover:cursor-pointer -translate-y-[25px]"
      name="heroArrowLeftCircle"
      size="50"
      (click)="swiper()?.slidePrev()">
    </ng-icon>
    <ng-icon
      *ngIf="!swiper()?.isEnd"
      class="right-0 top-1/2 absolute z-10 hover:cursor-pointer -translate-y-[25px]"
      name="heroArrowRightCircle"
      size="50"
      (click)="swiper()?.slideNext()">
    </ng-icon>
  </div>
</div>
