<label
  *ngIf="labelName"
  [id]="ngControl?.name"
  [class]="labelClass"
  [ngClass]="{
      'text-success': control?.touched && !control?.errors,
      'text-error': control?.touched && control?.errors
    }"
  class="block"
  >{{ labelName }}</label
>
<select
  class="select select-bordered border-2"
  [ngClass]="{
  'select-error': control?.touched && control?.errors,
  'select-success': control?.touched && !control?.errors
}"
  [class.select-xs]="size === 'xs'"
  [class.select-sm]="size === 'sm'"
  [class.select-md]="size === 'md'"
  [class.select-lg]="size === 'lg'"
  [class]="class"
  [disabled]="disabled"
  [(ngModel)]="val"
  (ngModelChange)="change()">
  <option
    *ngFor="let option of options"
    [disabled]="option.disabled ?? false"
    [value]="option.value">
    {{ option.text }}
  </option>
</select>
<ng-container *ngIf="control?.touched && control?.errors && showErrorMsg">
  <p *ngIf="control?.errors?.['required']" class="mt-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium">此欄位必填</span>
  </p>
</ng-container>
