<div
  id="about"
  class="py-32 flex flex-wrap justify-center mx-auto container items-start md:items-center">
  <div class="w-full md:w-1/2 font-medium my-5 text-center md:text-left">
    <h3
      scrollAnimate="animate__slideInDown"
      [once]="true"
      class="border-2 inline-block p-2 mb-2 mt-5 text-xl md:text-2xl md:mt-0 bg-opacity-50 bg-indigo-800">
      Welcome To My Portfolio
    </h3>
    <h5 scrollAnimate="animate__slideInLeft" [once]="true" class="text-xl md:text-2xl">
      Hello, <span class="text-[#0872BF]">I'm</span>
    </h5>
    <h2
      scrollAnimate="animate__slideInRight"
      [once]="true"
      class="text-[#0872BF] text-xl md:text-2xl">
      Ron
    </h2>
    <ng-typed class="text-[#0872BF] animate-textRgb text-xl md:text-2xl" [options]="typedOptions">
    </ng-typed>
    <ul>
      <li scrollAnimate="animate__lightSpeedInLeft" [once]="true">精進開發技術</li>
      <li scrollAnimate="animate__lightSpeedInRight" [delay]="1" [once]="true">
        保持自我學習的熱情
      </li>
      <li scrollAnimate="animate__lightSpeedInLeft" [delay]="2" [once]="true">
        執行從零到有的後台系統
      </li>
      <li scrollAnimate="animate__lightSpeedInRight" [delay]="3" [once]="true">
        構想多種錯誤情況處理
      </li>
    </ul>
    <ul class="my-2 flex justify-center md:justify-start">
      <li class="mr-2">
        <a
          href="https://www.linkedin.com/in/%E9%9B%B2%E8%81%98-%E7%BE%85-524564233/"
          target="_blank">
          <img
            src="assets/images/linkedin.svg"
            alt="linkedin"
            width="38"
            height="38"
            loading="lazy" />
        </a>
      </li>
      <li>
        <a href="https://github.com/pzps94038?tab=repositories" target="_blank">
          <img src="assets/images/github.svg" alt="github" width="38" height="38" loading="lazy" />
        </a>
      </li>
    </ul>
    <div class="my-2">
      <a
        href="https://docs.google.com/document/d/1YgXW-Yjifnrj8zxS4Ii5UqWjm__aXvHjlbx4vnHCrSw/export?format=pdf"
        scrollAnimate="animate__rubberBand"
        [once]="true"
        [delay]="4"
        target="_blank"
        download="RonResume"
        class="btn btn-outline btn-primary">
        Downland CV
      </a>
    </div>
  </div>
  <div class="w-full md:w-1/3 hidden md:flex items-center justify-center">
    <ng-lottie [speed]="0.8" [options]="astronotOptions" />
  </div>
</div>
