<div class="btn-group w-full flex justify-center" *ngIf="!!totalItems()">
  <button class="btn" (click)="firstPage()" [disabled]="currentPage() === 1">««</button>
  <button class="btn" (click)="prevPage()" [disabled]="currentPage() - 1 < 1">«</button>
  <button class="btn" *ngIf="startPage() > 1" (click)="goToPage(1)">1</button>
  <button class="btn" *ngIf="startPage() > 2" disabled>...</button>
  <button
    class="btn"
    *ngFor="let page of visiblePages()"
    [class.btn-active]="page === currentPage()"
    (click)="goToPage(page)">
    {{ page }}
  </button>
  <button class="btn" *ngIf="endPage() < totalPages() - 1" disabled>...</button>
  <button class="btn" *ngIf="endPage() < totalPages()" (click)="goToPage(totalPages())">
    {{ totalPages() }}
  </button>
  <button class="btn" (click)="nextPage()" [disabled]="currentPage() + 1 > totalPages()">»</button>
  <button class="btn" (click)="lastPage()" [disabled]="currentPage() === totalPages()">»»</button>
</div>
