<app-header />
<div class="bg-banner bg-cover bg-fixed h-screen flex justify-center items-center">
  <div class="bg-slate-800 rounded-md m-5">
    <h3 class="text-center text-3xl font-semibold my-3">登入</h3>
    <div class="w-60 mx-auto">
      <ng-lottie [options]="loginOptions" />
    </div>
    <form
      class="flex flex-wrap items-center w-full sm:w-[500px]"
      [formGroup]="form"
      (ngSubmit)="submit()">
      <div class="w-full px-3 my-2">
        <div
          *ngIf="errMsg()"
          class="alert alert-error shadow-lg border-2 bg-rose-800/[0.1] border-rose-900 relative py-5">
          <div class="absolute left-5">
            <span class="text-base font-semibold text-rose-900">{{ errMsg() }}</span>
          </div>
          <ng-icon
            name="heroXMark"
            class="cursor-pointer absolute right-5 text-rose-900"
            (click)="errMsg.set('')" />
        </div>
      </div>
      <div class="w-full px-3 my-2">
        <app-input class="w-full" placeholder="請輸入帳號" formControlName="account" />
      </div>
      <div class="w-full px-3 my-2">
        <app-input
          class="w-full"
          type="password"
          placeholder="請輸入密碼"
          formControlName="password">
        </app-input>
      </div>
      <div class="w-full flex justify-center items-center">
        <button type="submit" class="btn btn-primary my-3 px-8">登入</button>
      </div>
    </form>
  </div>
</div>
