<div
  class="bg-banner bg-cover bg-fixed bg-center h-80 md:h-96 flex justify-center items-center"></div>
<div class="flex flex-wrap">
  <ul class="menu w-full md:w-2/12 list-none">
    <li><a routerLink="/setting/article" routerLinkActive="active">文章總攬</a></li>
    <li><a routerLink="/setting/article-category" routerLinkActive="active">文章分類</a></li>
    <li><a routerLink="/setting/article-label" routerLinkActive="active">文章標籤</a></li>
  </ul>
  <div class="w-full md:w-10/12">
    <router-outlet />
  </div>
</div>
<app-footer />
