<div
  class="bg-base-100 border border-base-content/10 text-base-content rounded-md mx-0 md:mx-5 p-5 mb-5">
  <ng-container *ngIf="!isError(); else error">
    <ng-container *ngIf="!isLoading() && article(); else loading">
      <div>
        <div class="flex justify-between">
          <h3 class="text-xl font-semibold">{{ article()!.articleTitle }}</h3>
          <div [class.dropdown-left]="isFullscreen()" class="dropdown dropdown-hover bg-base-100">
            <div tabindex="0" role="button" class="m-1">
              <ng-icon name="heroEllipsisVertical" size="24" />
            </div>
            <ul tabindex="0" class="dropdown-content menu z-[1] w-44 shadow border bg-base-100">
              <li class="cursor-pointer w-full flex" (click)="toggleFullscreenMode()">
                <a class="w-full flex">
                  <div class="flex justify-center items-center">
                    <ng-icon name="featherMaximize" />
                  </div>
                  {{ isFullscreen() ? '關閉全螢幕模式' : '全螢幕模式' }}
                </a>
              </li>
              <li *ngIf="isLogin" class="cursor-pointer w-full flex">
                <a class="w-full flex" [routerLink]="['/setting', 'article', 'edit', articleId]">
                  <div class="flex justify-center items-center">
                    <ng-icon name="heroPencilSquare" />
                  </div>
                  修改文章
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="flex items-center">
            <ng-icon name="heroCalendarDays" class="mr-1" />
            <h4>{{ article()!.createDate| dayJs : 'YYYY/MM/DD' }}</h4>
          </div>
          <a
            class="flex items-center link link-secondary"
            [routerLink]="['/blog', 'category', article()!.categoryId]">
            <ng-icon name="heroFolder" class="mr-1" />
            <h5>{{ article()!.categoryName }}</h5>
          </a>
          <div class="flex flex-wrap">
            <a
              *ngFor="let label of article()?.labels ?? []"
              class="flex items-center link link-secondary mr-1"
              [routerLink]="['/blog', 'label', label.labelId]">
              <ng-icon name="heroHashtag" />
              <h5>{{ label.labelName }}</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="divider my-1"></div>
      <div
        class="ck-content break-words overflow-x-auto py-3"
        [innerHTML]="article()!.previewContent | safe: 'html'"></div>
      <div class="py-5"></div>
      <div
        class="ck-content break-words overflow-x-auto py-3"
        [innerHTML]="article()!.content| safe: 'html'"></div>
      <div *ngIf="article()!.references?.length">
        參考文章:
        <a
          *ngFor="let references of article()!.references"
          [href]="references | safe : 'url'"
          class="link text-[#4C99E6] block overflow-hidden text-ellipsis"
          target="_blank"
          >{{ references }}</a
        >
      </div>
      <ng-container *ngIf="article()?.prevArticle || article()?.nextArticle">
        <div class="divider my-5"></div>
        <div class="flex justify-between">
          <div class="w-1/2 flex justify-start">
            <a
              [routerLink]="['/blog','article',article()!.prevArticle?.articleId]"
              *ngIf="article()?.prevArticle">
              <div class="w-full flex justify-start items-center text-left">
                <span class="text-xl">←</span> 上一篇文章
              </div>
              <div class="w-full py-1 flex justify-start items-center link link-info text-left">
                {{ article()!.prevArticle!.articleTitle }}
              </div>
            </a>
          </div>
          <div class="w-1/2 flex justify-end flex-wrap">
            <a
              [routerLink]="['/blog','article',article()!.nextArticle!.articleId]"
              *ngIf="article()?.nextArticle">
              <div class="w-full flex justify-end items-center text-right">
                下一篇文章 <span class="text-xl">→</span>
              </div>
              <div class="w-full py-1 flex justify-end items-center link link-info text-right">
                {{ article()!.nextArticle!.articleTitle }}
              </div>
            </a>
          </div>
        </div>
      </ng-container>
      <div class="divider my-5"></div>
      <app-giscus />
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div>
      <div class="flex items-center" *ngFor="let i of [1, 2]">
        <div
          class="h-5 my-2 w-full rounded-lg bg-slate-300/10 relative before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-slate-300/10 before:bg-gradient-to-r before:from-transparent before:bg-slate-300/10 before:to-transparent overflow-hidden"></div>
      </div>
    </div>
    <div class="divider my-1"></div>
    <div>
      <div
        *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
        class="h-5 my-3 w-full rounded-lg bg-slate-300/10 relative before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-slate-300/10 before:bg-gradient-to-r before:from-transparent before:bg-slate-300/10 before:to-transparent overflow-hidden"></div>
    </div>
  </ng-template>
  <ng-template #error>
    <app-error (refresh)="getArticleById(articleId()!, false)" />
  </ng-template>
</div>
