<ng-container *ngIf="!isLoading();else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="my-5">
      <app-input
        labelName="專案名稱"
        labelClass="text-lg my-2 text-center md:text-left"
        class="w-full"
        placeholder="請輸入專案名稱"
        formControlName="name" />
    </div>
    <div class="my-5">
      <app-multiple-select
        labelName="專案角色"
        placeholder="請選擇專案角色"
        labelClass="text-lg my-2 text-center md:text-left"
        class="w-full"
        formControlName="projectRoles"
        [options]="projectRoleOptions()" />
    </div>
    <div class="my-5">
      <app-multiple-select
        labelName="專案技術"
        placeholder="請選擇專案技術"
        labelClass="text-lg my-2 text-center md:text-left"
        class="w-full"
        formControlName="technologyTools"
        [options]="technologyToolOptions()" />
    </div>
    <div class="my-5">
      <app-editor
        [adapter]="contributionsUploadAdapter"
        (upload)="contributionsUpload($event)"
        labelName="專案貢獻"
        labelClass="text-lg my-2 text-center md:text-left"
        formControlName="contributions" />
    </div>
    <div class="my-5">
      <app-editor
        [adapter]="descriptionUploadAdapter"
        (upload)="descriptionUpload($event)"
        labelName="專案描述"
        labelClass="text-lg my-2 text-center md:text-left"
        placeholder="請輸入專案描述"
        formControlName="description" />
    </div>
    <div class="flex justify-end items-center">
      <button
        type="submit"
        [disabled]="createIsLoading()"
        [class.loading]="createIsLoading()"
        class="btn btn-primary">
        新增專案經歷
      </button>
    </div>
  </form>
</ng-container>
<ng-template #loading>
  <app-load-project-experience />
</ng-template>
