<label
  *ngIf="labelName"
  [for]="control?.name"
  [class]="labelClass"
  [ngClass]="{
      'text-success': control?.touched && !control?.errors,
      'text-error': control?.touched && control?.errors
    }"
  class="block"
  >{{ labelName }}</label
>
<textarea
  [rows]="rows"
  [id]="control?.name"
  [placeholder]="placeholder"
  [class]="class"
  [class.textarea-xs]="size === 'xs'"
  [class.textarea-sm]="size === 'sm'"
  [class.textarea-md]="size === 'md'"
  [class.textarea-lg]="size === 'lg'"
  [ngClass]="{
    'textarea-error': control?.touched && control?.errors,
    'textarea-success': control?.touched && !control?.errors
  }"
  [disabled]="disabled"
  [(ngModel)]="val"
  (ngModelChange)="change()"
  class="textarea textarea-bordered border-2"></textarea>
<ng-container *ngIf="control?.touched && control?.errors && showErrorMsg">
  <p *ngIf="control?.errors?.['required']" class="mt-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium">此欄位必填</span>
  </p>
</ng-container>
