<div
  class="hidden lg:flex py-3 justify-between items-center top-0 bg-[#141A1A] w-full static lg:sticky z-50">
  <div class="ml-14 flex items-center">
    <a href="/">
      <img src="assets/images/logo.png" class="w-16 h-10 object-cover" />
    </a>
  </div>
  <div class="mr-14">
    <ul class="flex justify-around">
      <li
        class="font-open-sans font-normal text-lg hover:ease-in-out duration-150 hover:text-[#0872BF] cursor-pointer"
        (click)="goToTop()">
        <a>首頁</a>
      </li>
      <li
        class="font-open-sans font-normal text-lg mx-16 hover:ease-in-out duration-150 hover:text-[#0872BF] cursor-pointer">
        <a>Projects</a>
      </li>
      <li
        class="font-open-sans font-normal text-lg hover:ease-in-out duration-150 hover:text-[#0872BF] cursor-pointer">
        <a>Resume</a>
      </li>
    </ul>
  </div>
</div>
