<header
  #header
  class="hidden lg:flex py-3 justify-between items-center top-0 w-full absolute z-50 bg-transparent">
  <div class="ml-14 flex items-center">
    <a href="javascript:void(0)" (click)="scrollToElement('about')">
      <img src="assets/images/logo.png" class="w-12 object-cover" alt="logo" />
    </a>
  </div>
  <div class="mr-14">
    <ul class="flex justify-around">
      <li
        *ngFor="let link of links"
        class="font-open-sans font-normal text-lg hover:ease-in-out duration-150 hover:text-[#0872BF] cursor-pointer mx-8"
        (click)="scrollToElement(link.value)">
        <a href="javascript:void(0)">{{ link.name }}</a>
      </li>
    </ul>
  </div>
</header>

<header #mobile>
  <nav class="flex lg:hidden fixed flex-wrap bg-black top-0 left-0 right-0 z-50 py-2">
    <div class="flex justify-between w-full">
      <div class="ml-5 flex items-center">
        <a href="javascript:void(0)" (click)="scrollToElement('about')">
          <img src="assets/images/logo.png" class="w-12 object-cover" alt="logo" />
        </a>
      </div>
      <div class="menu-icon" [class.open]="mobileToggle" (click)="mobileToggle = !mobileToggle">
        <div class="menu-icon_hamburger"></div>
      </div>
    </div>
    <div class="collapse w-full">
      <input type="checkbox" [hidden]="true" [(ngModel)]="mobileToggle" />
      <div class="collapse-content">
        <ul class="w-full overflow-hidden bg-primary text-secondary-content">
          <li
            *ngFor="let link of links"
            class="flex justify-center border-2 border-white p-2 text-xl cursor-pointer"
            (click)="scrollToElement(link.value, false)">
            <a href="javascript:void(0)">{{ link.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
