<ng-container *ngIf="!isError(); else error">
  <ng-container *ngIf="!isLoading(); else loading">
    <div class="p-5 bg-slate-800 rounded-md mx-0 md:mx-5 mb-5">
      <h3>以下是{{ category() }}的搜尋結果：</h3>
    </div>
    <app-article-card
      *ngFor="let article of articles()"
      [title]="article.articleTitle"
      [date]="article.createDate"
      [category]="{
        categoryId: article.categoryId,
        categoryName: article.categoryName
      }"
      [previewContent]="article.previewContent"
      (category)="navigateCategory($event)"
      (showMore)="showMore(article.articleId)" />
  </ng-container>
</ng-container>
<ng-template #loading>
  <app-loading-keyword></app-loading-keyword>
  <app-loading-card></app-loading-card>
  <app-loading-card></app-loading-card>
  <app-loading-card></app-loading-card>
</ng-template>
<ng-template #error>
  <div class="bg-slate-800 rounded-md mx-0 md:mx-5 p-5 mb-5">
    <app-error (refresh)="searchCategory(categoryId(), page())" />
  </div>
</ng-template>
<app-pagination [total]="total()" [currentPage]="page()" (change)="paginationChange($event)">
</app-pagination>
