/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-base-content bg-base-100;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.ck.ck-balloon-panel.ck-balloon-panel_visible {
  display: none !important;
}

.ck-content {
  pre {
    @apply bg-base-300 text-base-content border rounded-sm p-4 text-left #{!important};
    tab-size: 4;
    white-space: pre-wrap;
  }
  pre[data-language]:after {
    @apply bg-base-content text-base-300 text-xs leading-4 right-[10px] -top-[1px] #{!important};
  }
}
