/* You can add global styles to this file, and also import other style files */
@use 'sass:meta';

html[data-theme='corporate'] {
  @include meta.load-css('highlight.js/styles/github.css');
}

html[data-theme='business'] {
  @include meta.load-css('highlight.js/styles/github-dark-dimmed.css');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-base-content bg-base-100;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.ck.ck-balloon-panel.ck-balloon-panel_visible {
  display: none !important;
}

.ck-content {
  pre {
    @apply border rounded-sm m-4 p-0  #{!important};
    tab-size: 4;
    white-space: pre-wrap;
  }
}
