<ng-container *ngIf="!isError(); else error">
  <ng-container *ngIf="!isLoading(); else loading">
    <button class="btn btn-primary mb-5" routerLink="/setting/article/create">新增文章</button>
    <div class="overflow-x-auto w-full">
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th></th>
            <th class="text-lg">文章標題</th>
            <th class="text-lg">分類</th>
            <th class="text-lg">瀏覽次數</th>
            <th class="text-lg">建立日期</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles()">
            <th class="flex">
              <a
                class="btn btn-primary m-1 flex justify-center items-center"
                [routerLink]="['/setting', 'article', 'edit',article.articleId]">
                <ng-icon name="heroPencilSquare" />
              </a>
              <button
                type="button"
                class="btn btn-error m-1 flex justify-center items-center"
                (click)="deleteArticle(article.articleId)">
                <ng-icon name="heroTrash" />
              </button>
            </th>
            <td>{{ article.articleTitle }}</td>
            <td>{{ article.categoryName }}</td>
            <td>{{ article.viewCount }}</td>
            <td>{{ article.createDate | dayJs : 'YYYY/MM/DD hh:mm' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [total]="total()" [currentPage]="page()" (change)=" paginationChange($event)" />
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="overflow-x-auto w-full">
    <table class="table table-zebra w-full">
      <tbody>
        <tr>
          <td></td>
          <td class="text-lg">文章標題</td>
          <td class="text-lg">分類</td>
          <td class="text-lg">瀏覽次數</td>
          <td class="text-lg">建立日期</td>
        </tr>
        <tr *ngFor="let i of [1,2,3,4,5]">
          <td>
            <div
              class="h-5 my-3 w-full rounded-lg bg-slate-300/10 relative before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-slate-300/10 before:bg-gradient-to-r before:from-transparent before:bg-slate-300/10 before:to-transparent overflow-hidden"></div>
          </td>
          <td>
            <div
              class="h-5 my-3 w-full rounded-lg bg-slate-300/10 relative before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-slate-300/10 before:bg-gradient-to-r before:from-transparent before:bg-slate-300/10 before:to-transparent overflow-hidden"></div>
          </td>
          <td>
            <div
              class="h-5 my-3 w-full rounded-lg bg-slate-300/10 relative before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-slate-300/10 before:bg-gradient-to-r before:from-transparent before:bg-slate-300/10 before:to-transparent overflow-hidden"></div>
          </td>
          <td>
            <div
              class="h-5 my-3 w-full rounded-lg bg-slate-300/10 relative before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-slate-300/10 before:bg-gradient-to-r before:from-transparent before:bg-slate-300/10 before:to-transparent overflow-hidden"></div>
          </td>
          <td>
            <div
              class="h-5 my-3 w-full rounded-lg bg-slate-300/10 relative before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-slate-300/10 before:bg-gradient-to-r before:from-transparent before:bg-slate-300/10 before:to-transparent overflow-hidden"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [total]="total()" [currentPage]="page()" (change)=" paginationChange($event)" />
</ng-template>
<ng-template #error>
  <div
    class="bg-base-100 border border-base-content/10 text-base-content rounded-md mx-0 md:mx-5 p-5 mb-5">
    <app-error (refresh)="getArticle()" />
  </div>
</ng-template>
