<div
  class="bg-base-100 border border-base-content/10 text-base-content rounded-md mx-0 md:mx-5 p-5 mb-5">
  <div>
    <div class="flex items-center justify-between">
      <h3 class="text-xl font-semibold">{{ title }}</h3>
      <div *ngIf="isLogin()" class="dropdown dropdown-hover bg-base-100">
        <div tabindex="0" role="button" class="m-1">
          <ng-icon name="heroEllipsisVertical" size="24" />
        </div>
        <ul tabindex="0" class="dropdown-content menu z-[1] w-40 shadow border bg-base-100">
          <li class="cursor-pointer w-full flex">
            <a class="w-full flex" [routerLink]="['/setting', 'article', 'edit', articleId]">
              <div class="flex justify-center items-center">
                <ng-icon name="heroPencilSquare" />
              </div>
              修改文章
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="flex items-center">
        <ng-icon name="heroCalendarDays" class="mr-1" />
        <h4>{{ date | dayJs : 'YYYY/MM/DD' }}</h4>
      </div>
      <div class="flex items-center link link-secondary" (click)="clickCategory.emit(category)">
        <ng-icon name="heroFolder" class="mr-1" />
        <h5>{{ category.categoryName }}</h5>
      </div>
      <div class="flex flex-wrap">
        <div
          *ngFor="let label of labels"
          class="flex items-center link link-secondary mr-1"
          (click)="clickLabel.emit(label)">
          <ng-icon name="heroHashtag" />
          <h5>{{ label.labelName }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="divider my-1"></div>
  <div
    class="ck-content break-words overflow-x-auto py-3"
    [innerHTML]="(highlightKeyword ? (previewContent | highlightKeyword : keyword) : previewContent) | safe : 'html'"></div>
  <span class="link link-secondary" (click)="showMore.emit(true)">... 繼續閱讀 ...</span>
</div>
