<div
  class="bg-base-100 border border-base-content/10 text-base-content rounded-md mx-0 md:mx-5 p-5 mb-5">
  <div>
    <h3 class="text-xl font-semibold">{{ title }}</h3>
    <div>
      <div class="flex items-center">
        <ng-icon name="heroCalendarDays" class="mr-1" />
        <h4>{{ date | dayJs : 'YYYY/MM/DD hh:mm' }}</h4>
      </div>
      <div class="flex items-center link link-secondary" (click)="clickCategory.emit(category)">
        <ng-icon name="heroFolder" class="mr-1" />
        <h5>{{ category.categoryName }}</h5>
      </div>
      <div class="flex flex-wrap">
        <div
          *ngFor="let label of labels"
          class="flex items-center link link-secondary mr-1"
          (click)="clickLabel.emit(label)">
          <ng-icon name="heroHashtag" />
          <h5>{{ label.labelName }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="divider my-1"></div>
  <div class="ck-content" [innerHTML]="previewContent | safe : 'html'"></div>
  <a class="link link-secondary" (click)="showMore.emit(true)">... 繼續閱讀 ...</a>
</div>
